[importlinter]
root_packages =
    domain
    application
    infrastructure
    api

[importlinter:contract:hexagonal-layers]
name = Hexagonal Architecture Layers
type = layers
layers =
    api
    infrastructure
    application
    domain
